<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">

<head>
    <!-- title -->
    <title>Digi Cards</title>

    <!-- keywords -->
    <meta charset="utf-8">
    <meta name="author" content="Birnadin Erick">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'home/images/favicon.png' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}"/>
    <!-- style -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'home/css/loader.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}"/>

    <script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}"></script>
</head>

<body>

<div id="cupcake" class="box" style="height: 100%; width: 100%; z-index: 1000000">
    <span class="letter">L</span>
    <div class="cupcakeCircle box">
        <div class="cupcakeInner box">
            <div class="cupcakeCore box">
            </div>
        </div>
    </div>
    <span class="letter box">A</span>
    <span class="letter box">D</span>
    <span class="letter box">I</span>
    <span class="letter box">N</span>
    <span class="letter box">G</span>
</div>

<script>
    $(window).on("load", function () {
        $("#cupcake").fadeOut("slow");
    });
</script>

{#    <!-- navigation -->#}
<nav class="navbar no-margin-bottom alt-font without-button transparent-header">
    <div class="container navigation-menu">
        <div class="row">
            <div class="col-lg-2 col-md-2 navbar-header">
                <a class="navbar-brand inner-link"
                   href="https://www.youtube.com/channel/UC5Raeh--AL1ReL6B7YmIEYg" target="_blank"><img
                        src="{% static "home/images/logo-header.png" %}" alt="Crazy Minion"/></a>
            </div>
        </div>
    </div>
</nav>
{#    <!-- end navigation -->#}

{% block body %}
    <!-- contents go in here -->
{% endblock %}

<!-- footer -->
<footer class="wow fadeIn cover-background footer-media-set"
        style="background-image:url({% static 'home/images/footer-global-bg.jpg' %});">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center alt-font margin-three no-margin-lr no-margin-bottom">
                    <span class="text-small text-uppercase letter-spacing-1">&copy; {% now "Y" %} <a
                            href="https://github.com/Crazy-Minion" target="_blank"><b><u>Crazy Minion</u></b></a> created by <a
                            href="https://github.com/BirnadinErick"
                            target="_blank"><b><u>Birnadin Erick</u></b></a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->

<!-- javascript libraries -->

<script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/jquery.parallax-1.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/main.js' %}"></script>
<!-- end javascript libraries -->
</body>

</html>