<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
<head>
    <!-- title -->
    <title>A broken {{ error_code | safe }} card!</title>

    <!-- description -->
    <meta name="description" content="Good Old Flashcards Mad Awesome new DIGI CARDS!"/>

    <!-- keywords -->
    <meta charset="utf-8">
    <meta name="author" content="Birnadin Erick">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">

    <!-- css libs -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "errors/css/style_app.css" %}" type="text/css"/>
    <!-- end css libs -->
</head>
<body>

<!-- header -->
<header class="header">
    <div class="container">
        <div class="logo-container">
            <a href="https://www.youtube.com/channel/UC5Raeh--AL1ReL6B7YmIEYg" target="_blank">
                <img class="logo" src="{% static "images/logo-header.png" %}" alt="Crazy Minion">
            </a>
        </div>
    </div>
</header>
<!-- end header -->

<!-- content -->
<section class="main">
    <ul id="scene" class="scene">
        <!-- background image -->
        <li class="layer" data-depth="0.20">
            {% with 'errors/img/'|add:error_code|add:".jpg" as pic_name %}
                <div class="hero-background"
                     style="background: url({% static pic_name %}) center center no-repeat #EEEFF1;">

                </div>
            {% endwith %}
        </li>
        <!-- end background image -->
        <li class="layer" data-depth="0.00">
            <div class="main_content">
                <h2 class="error-big-text main-font">{{ error_code | safe }}</h2>
                <p class="error-sub-text main-font">{{ error_msg | title | safe }}</p>
                <a href="{% url "home:index" %}" class="btn btn-light btn-rounded main-font">Go Home</a>
            </div>
        </li>
    </ul>
</section>
<!-- end content -->

<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="copy">Crazy Minion &copy; {% now "Y" %}</div>
    </div>
</footer>
<!-- footer -->

<!-- JS libs -->
<script type="text/javascript" src="{% static "home/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "errors/js/script.js" %}"></script>
<!-- end JS libs -->
</body>
</html>
