{% extends 'main/base.html' %}
{% load digiCards %}
{% block body %}


    <h1>{{ hello }}</h1>

    <h3>{{ flashcard.subunit.unit.subject.title }}/</h3><h3>{{ flashcard.subunit.unit.title }}/</h3>
    <h3>{{ flashcard.subunit.title }}</h3><br>
    <h4>{{ flashcard.title }}</h4>
    <h5>Brief</h5>
    <p>{{ flashcard.content_brief | htmlfy | safe }}</p>
    <h5>Summary</h5>
    <p>{{ flashcard.content_summary | htmlfy | safe }}</p>
    <h5>Description</h5>
    <p>{{ flashcard.description | htmlfy | safe }}</p>

    <img src="{{ flashcard.image.url }}" alt="Description">

{% endblock %}