<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <!-- title -->
    {% if title %}
        <title>{{ title | upper }}</title>
    {% else %}
        <title>Digi Cards 🎴</title>
    {% endif %}
    <!-- end title -->

    <!-- keywords -->
    <meta charset="utf-8">
    <meta name="author" content="Birnadin Erick">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">

    <link rel="stylesheet" media="screen" href="{% static 'css/vendor.min.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">

    <!-- modernizr -->
    <script src="{% static 'js/modernizr.min.js' %}"></script>

    <!-- custom styles -->
    <style>
        #hero-top-text {
            z-index: 105 !important;
        }

        #bg-gray {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0.65;
            z-index: 100;
            top: 0;
            left: 0
        }

        ::-webkit-scrollbar {
            width: 12px;
        }

        ::-webkit-scrollbar-thumb {
            background: #00efff !important;
            background: -webkit-gradient(linear, left top, right bottom, color-stop(100%, #00ff97), color-stop(0%, #00efff)) !important;
            background: linear-gradient(135deg, #00ff97 0%, #00efff 100%) !important;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00efff', endColorstr='#00ff97', GradientType=1);
            border-radius: 10px !important;
        }
    </style>
    <!-- end custom styles -->
</head>

<body style="background-color:#2e2e2e !important;">
<!-- navigation -->
<header class="navbar-wrapper navbar-boxed navbar-simple-ghost navbar-sticky">
    <div class="container-fluid">
        <!-- logo header -->
        <div class="d-table-cell align-middle pr-md-3">
            <a class="navbar-brand mr-1" href="https://www.youtube.com/channel/UC5Raeh--AL1ReL6B7YmIEYg">
                <img src="{% static "images/logo-header.png" %}" alt="Crazy Minion">
            </a>
        </div>
        <!-- end logo header -->

        <!-- breadcrumbs -->
        {% if flashcards %}
            <div class="d-table-cell align-middle w-100 pl-md-3">
                <div class="navbar justify-content-end justify-content-lg-between">
                    <ul class="navbar-nav d-none d-lg-block">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'main:subject' flashcards.first.subunit.unit.subject.slug %}">
                                {{ flashcards.first.subunit.unit.subject.title | title }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <span style="color:white;">>></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'main:unit' flashcards.first.subunit.unit.subject.slug flashcards.first.subunit.unit.slug %}">
                                {{ flashcards.first.subunit.unit.title | title }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <!-- end breadcrumbs -->
    </div>
</header>
<!-- end navigation -->

<!-- hero -->
<section class="position-relative bg-center bg-norepeat bg-cover pt-sm-5 pb-5"
         style="background-image: url({{ flashcards.first.subunit.image.url }});">
    <div class="bg-overlay bg-gradient"></div>
    <div id="bg-gray" style="background: #252525 !important;"></div>
    <div id="hero-top-text" class="container bg-parallax-content py-5 mb-4 text-center">
        <h1 class="h2 text-white pt-4">{{ flashcards.first.subunit.title | upper }}</h1>
        <p class="text-lg font-weight-medium text-white py-2">{{ flashcards.first.subunit.desc | truncatewords:10 | lower }}</p>
    </div>
</section>
<!-- end hero -->

<!-- Digi-Cards list -->
<section class="pt-5 pb-5">
    <div class="container pt-2 pb-3">

        <!-- cards title -->
        <h2 class="h3 block-title text-center gradient-text">
            <span style="color: #00efff !important;">
                Digi Cards!
            </span>
            <small style="color: #00ff97 !important;">
                Let's study with new awesome digi-cards
            </small>
        </h2>
        <!-- cards title -->

        <!-- cards -->
        <div class="isotope-grid cols-3 pt-3">
            <!-- rulers -->
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>
            <!-- end rulers -->
            {% for flashcard in flashcards %}
                <!-- Digi-Card -->
                <div class="grid-item">
                    <!-- card -->
                    <div class="card blog-card mb-2">

                        <!-- card body-->
                        <div class="card-body" style="background-image: url({{ flashcard.image.url }});">

                            <span class="post-format bg-gradient">
                            <i class="font-family-heading h4 text-white pt-1">“</i>
                        </span>
                            <h5 class="post-title">
                                <a class="text-white"
                                   href="{% url 'main:flashcard' flashcard.subunit.unit.subject.slug flashcard.subunit.unit.slug flashcard.subunit.slug flashcard.slug %}">
                                    {{ flashcard.content_summary | truncatewords:10 }}
                                </a>
                            </h5>
                            <a class="tag-link" href="#">FLIP</a>
                        </div>
                        <!-- card body-->

                        <!-- card footer -->
                        <div class="card-footer" style="z-index:10;">
                            <div class="post-author-name">
                                <a style="color:#00bac6;"
                                   href="{% url 'main:subject' flashcard.subunit.unit.subject.slug %}">{{ flashcard.subunit.unit.subject.title | title }}</a>
                                /
                                <a style="color:#00d780;"
                                   href="{% url 'main:unit' flashcard.subunit.unit.subject.slug flashcard.subunit.unit.slug %}">{{ flashcard.subunit.unit.title | title }}</a>
                            </div>

                            <div class="post-meta">
                                <span><i class="fe-icon-clock"></i>{{ flashcard.last_updated | date:"d M Y" }}</span>
                            </div>

                        </div>
                        <!-- end card footer -->

                    </div>
                    <!-- end card -->
                </div>
                <!-- end Digi-Card -->
            {% endfor %}
        </div>
        <!-- cards -->
    </div>

</section>
<!-- end Digi-Cards list -->

<!-- footer -->
<footer class="pt-5" style="background-color:#3b3b3b; ">
    <div class="container">
        <hr class="hr-dark">
        <div class="justify-content-between align-items-center py-4 text-center">
            <p class="m-0 text-lg order-1" style="color: #fff !important; text-align: center !important;">
                <span class=''>© All rights reserved {% now "Y" %}. Made with</span>
                <i class='d-inline-block align-middle fe-icon-heart text-danger'></i>
                <span>by</span>
                <a
                        href="https://github.com/BirnadinErick"
                        class='d-inline-block nav-link p-0'
                        target='_blank' style="color:#ff7e7e !important;"> Birnadin Erick
                </a>
                @
                <a href="https://github.com/Crazy-Minion" class='d-inline-block nav-link p-0 text-danger'
                   target='_blank' style="color:#ff7e7e !important;"> Crazy Minion.
                </a>
            </p>
        </div>
    </div>
</footer>
<!-- end footer -->

<!-- back to top button-->
<a class="scroll-to-top-btn" href="#"><i class="fe-icon-chevron-up"></i></a>
<!-- end back to top button-->

<!-- JS libraries -->
<script src="{% static 'js/vendor.min.js' %}"></script>
<script src="{% static 'js/theme.min.js' %}"></script>
<!-- end JS libraries -->

</body>

</html>