<!-- pre-processing -->
{% extends 'main/base.html' %}
{% load static %}
<!-- end pre-processing -->

{% block body %}
    <!--suppress HtmlUnknownAnchorTarget -->
    <body style="background-image:url({% static 'images/restaurant-img7.jpg' %});">

    <!-- hero -->
    <section id="home" class="no-padding fix-background"
             style="background-image:url({% static 'images/subunit-hero.png' %});">
        <div class="opacity-light bg-dark-gray"></div>
        <div class="container full-screen position-relative">
            <div class="slider-typography text-center">
                <div class="slider-text-middle-main">
                    <div class="slider-text-middle slider-typography-option1 ">
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-down"><a class="section-link" href="#0">

            <img src="{% static "images/arrow-down.png" %}" alt=""/></a>
        </div>
    </section>
    <!-- end hero -->

    {% for subunit in subunits %}
        {% cycle 'border-color-fast-pink-dark' 'border-deep-yellow' 'border-color-orange' 'border-transperent-green' as border_color silent %}
        {% cycle 'BalletDoodle.png' 'DogJumpDoodle.png' 'CoffeeDoddle.png' 'DancingDoodle.png' 'DoogieDoodle.png' 'DumpingDoodle.png' 'FloatDoodle.png' 'GroovyDoodle.png' 'GroovySittingDoodle.png' 'LayingDoodle.png' 'MessyDoodle.png' 'MoshingDoodle.png' 'PlantDoodle.png' 'ReadingDoodle.png' 'ReadingSideDoodle.png' 'RollerSkatingDoodle.png' 'RollingDoodle.png' 'SelfieDoodle.png' 'SitReadingDoodle.png' 'SittingDoodle.png' 'SleekDoodle.png' 'SprintingDoodle.png' 'StrollingDoodle.png' 'SwingingDoodle.png' 'UnboxingDoodle.png' 'ZombieingDoodle.png' as pic silent %}
        {% with 'graphics/'|add:pic as pic_path %}
            {% if forloop.counter in numbers %}
                <!-- even indexed sub unit section -->
                <section id="{{ forloop.counter0 }}"
                         class="no-padding fix-background md-fix-background-right min-height-image"
                         style="background-image:url({{ subunit.image.url }});">
                    <div class="container full-screen position-relative">
                        <div class="slider-typography text-center">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle">
                                    <div class="restaurant-dishes bg-white pull-left position-relative padding-fourteen sm-margin-lr-auto sm-float-none xs-padding-twenty-three">
                                        <div class="margin-seven xs-display-none"><img
                                                src="{% static pic_path %}"
                                                alt=""/></div>
                                        <a href="{% url 'main:subunit' subunit.unit.subject.slug subunit.unit.slug subunit.slug %}"><span
                                                class="title-large alt-font text-uppercase letter-spacing-2 brown-text display-block font-weight-600">{{ subunit.title | title }}</span></a>
                                        <div class="margin-sixteen"><img src="{% static "images/separator.png" %}"
                                                                         alt=""/>
                                        </div>
                                        <p class="text-medium margin-five no-margin-lr">{{ subunit.desc | lower }}</p>
                                        <div class="margin-seventeen"><a class="section-link"
                                                                         href="#{{ forloop.counter0 | add:1 }}"><img
                                                src="{% static "images/arrow-down.png" %}"
                                                alt="go to next subunit"/></a>
                                        </div>
                                        <div class="img-border {{ border_color }} z-index-minus2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end even indexed sub unit section -->
            {% else %}
                <!-- odd indexed sub unit section -->
                <section id="{{ forloop.counter0 }}"
                         class="no-padding fix-background md-fix-background-left min-height-image"
                         style="background-image:url({{ subunit.image.url }});">
                    <div class="container full-screen position-relative">
                        <div class="slider-typography text-center">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle">
                                    <div class="restaurant-dishes bg-white pull-right position-relative padding-fourteen sm-margin-lr-auto sm-float-none xs-padding-twenty-three">
                                        <div class="margin-seven xs-display-none sm-margin-lr-auto sm-margin-fifteen">
                                            <img
                                                    src="{% static pic_path %}" alt=""/></div>
                                        <a href="{% url 'main:subunit' subunit.unit.subject.slug subunit.unit.slug subunit.slug %}"><span
                                                class="title-large alt-font text-uppercase letter-spacing-2 brown-text display-block font-weight-600">{{ subunit.title | title }}</span></a>
                                        <div class="margin-sixteen"><img src="{% static "images/separator2.png" %}"
                                                                         alt=""/>
                                        </div>
                                        <p class="text-medium margin-five no-margin-lr">{{ subunit.desc | lower }}</p>
                                        <div class="margin-seventeen"><a class="section-link"
                                                                         href="#{{ forloop.counter0 | add:1 }}"><img
                                                src="{% static "images/arrow-down.png" %}"
                                                alt="go to next subunit"/></a>
                                        </div>
                                        <div class="img-border {{ border_color }} z-index-minus2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end odd indexed sub unit section -->
            {% endif %}
        {% endwith %}
    {% endfor %}

    </body>
{% endblock %}