{% extends 'main/base.html' %}
{% load static %}
{% load cache %}

{% block nav_link %}
    <a href="{% url 'main:subject' obj.subject.slug %}">
        {{ obj.subject.title | title }}
    </a>
{% endblock %}

{% block hero_banner %}
    <h1 style="color: white;">{{ obj.title | upper }}</h1>
    <h3 style="color: white">{{ obj.desc | title }}</h3>
{% endblock %}

{% if subunits %}
{% block cards_deck %}
    {% cache 1200 unit_card_deck subunits.first.unit.slug using="frontend" %}
    {% for subunit in subunits %}
        <a class="card"
           href="{% url 'main:subunit' subunit.unit.subject.slug subunit.unit.slug subunit.slug  %}">
            <div class="card__background" style="background-image: url({{ subunit.image.url }})"></div>
            <div class="card__content">
                <h3 class="card__heading">{{ subunit.title | upper | truncatewords:2 }}</h3>
            </div>
        </a>
    {% endfor %}
    {% endcache %}
{% endblock %}
{% endif %}